.wrapper {
    --handleSize: 16px;
    --connectedFactor: 0.5;
    --hoverFactor: 1.6;

    position: relative;
    z-index: 1;

    padding: 6px;
    border-radius: 50%;

    width: var(--handleSize);
    height: var(--handleSize);
    box-sizing: content-box;
}

.handle {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;

    box-sizing: content-box !important;
    width: var(--handleSize) !important;
    height: var(--handleSize) !important;

    transition: width 0.1s, height 0.1s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.handle>* {
    pointer-events: none;
    user-select: none;
}

.wrapper.connected .handle {
    width: calc(var(--handleSize) * var(--connectedFactor)) !important;
    height: calc(var(--handleSize) * var(--connectedFactor)) !important;
}

.wrapper:hover .handle {
    width: calc(var(--handleSize) * var(--hoverFactor)) !important;
    height: calc(var(--handleSize) * var(--hoverFactor)) !important;
}


.tooltipWrapper {
    position: absolute;
    top: 50%;
    --y-transform: calc(-1 * var(--mantine-spacing-md) - 10px)
}

.tooltipWrapper.source {
    right: 0;
    transform: translate(calc(100% - var(--mantine-spacing-md)), var(--y-transform));
}

.tooltipWrapper.target {
    left: 0;
    transform: translate(calc(-100% + var(--mantine-spacing-md)), var(--y-transform));
}

.tooltip {
    font-size: 10px;
    border-radius: var(--mantine-radius-xl);
    background-color: var(--mantine-color-dark-4);
    color: var(--mantine-color-gray-0);
    padding: 2px 8px;
    white-space: nowrap;
}

.tooltip.button:hover {
    background-color: var(--mantine-color-dark-5);
}